// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

.navbar {
    padding: 2rem;
    margin-bottom: 2rem;
}

#musubi {
    width: 20%;
    margin: auto;
    .carousel-caption h6 {
        color: $yellow;
    }
}

.jumbotron {
    background-color: $lightgray!important;
    color: $blue!important;
}

.container {
    padding: 5rem;
    background-color: $lightgray;
}

.accordion {
    .accordion-header {
        background-color: $purpleColor!important;
    }
    .accordion-button {
        color: $lightBlue;
    }
    .accordion-body {
        color: $lightBlue;
    }
}

.col {
    border: 1px solid $purpleColor;
}

button {
    width: 20rem;
    box-shadow: 3px 3px $lightBlue;
}

.container-fluid {
    .top, .bottom {
        height: 6rem;
    }
    .middle {
        height: 30rem;
    }
}


// top 3 
@media (max-width: 400px)
{
    .carousel-caption {
        display: none;
    }
    .images-heading {
        font-size: 2rem;
    }
}